BasedOnStyle: llvm
IndentWidth: 4
InsertNewlineAtEOF: true
AlignArrayOfStructures: "Left"
AlignConsecutiveAssignments: "Consecutive"
AlignConsecutiveDeclarations: "Consecutive"
AlignConsecutiveBitFields: "Consecutive"
AlignConsecutiveMacros: "Consecutive"
AllowShortIfStatementsOnASingleLine: true 